<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center px-3 px-md-0">

        <div class="col-lg-5 shadow px-2 px-md-5 pb-3 pt-3 text-center">
            <h1 class="fs-2 mb-4">Zahtev za resetovanje lozinke</h1>

            <form class="d-flex align-items-center flex-column">

                <div class="input-group mt-3" [ngClass]="{'mb-3': mailErr}">
                    <span class="input-group-text bg-plt1-clr5" id="user-addon"><mat-icon>mail</mat-icon></span>
                   
                    <div class="form-floating">
                        <input type="text" name="mail" [(ngModel)]="mail" [ngClass]="{'is-invalid': mailErr}" class="form-control" id="mail" placeholder="Mejl adresa" aria-label="mail" aria-describedby="user-addon" (click)="mailInputClicked()">
                        <label for="mail">Mejl adresa</label>
                        <div class="invalid-tooltip">
                            * Unesite ispravnu mejl adresu
                        </div>                      
                    </div>
                </div>

                <div class="full-width errorText text-start mt-4">
                    <ul>
                        <li *ngFor="let msg of errMessages">{{ msg }}</li>
                    </ul>
                </div>

                <button type="button" class="btn btn-plt1-clr9 fs-5 my-2 full-width" (click)="sendRequest()">Potvrdi</button>
                
                <div class="mt-2">
                    <span>Povratak na </span><a class="text-plt1-clr2 fw-medium" routerLink="">prijavu</a>
                </div>

            </form>

        </div>
    </div>
</div>