<!-- <app-apartment-sketch [updateProgressModeIn]="false" [showProgressIn]="false" [editModeIn]="true"></app-apartment-sketch> -->
<!-- <app-login></app-login> -->
<!-- <app-admin-login></app-admin-login> -->
<!-- <app-register></app-register> -->
<!-- <app-reset-password></app-reset-password> -->
<!-- <app-password-recovery-request></app-password-recovery-request> -->
<!-- <app-navbar [activeNav]="'guest'" [activePage]="0"></app-navbar> -->
<!-- <app-comment></app-comment> -->
<app-client-objects></app-client-objects>
<router-outlet></router-outlet>
