<app-navbar [activeNav]="'client'" *ngIf="!isAdminPage"></app-navbar>

<div class="container-fluid mt-3 text-end" *ngIf="isAdminPage">

    <button type="button" class="btn btn-plt1-clr9 fs-6 mx-3" (click)="returnToHomePage()">
        Vratite se na početnu stranu
    </button>

    <button type="button" class="btn btn-plt1-clr6 fs-6 mx-3" (click)="returnToJobList()">
        Vratite se na prikaz poslova
    </button>

    <button type="button" class="btn btn-plt1-clr1 fs-6 mx-3" (click)="logoutAdmin()">
        Odjavite se
    </button>

</div>

<div class="toast-container position-fixed end-0 bottom-0 p-3">
    <div id="err" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex bg-plt1-clr1 rounded">
            <div class="toast-body fs-6 fw-medium">
                <!-- Došlo je do greške. Pokušajte ponovo. -->
                {{ errToastMsg }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed end-0 bottom-0 p-3">
    <div id="succ" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex bg-plt1-clr6 rounded">
            <div class="toast-body fs-6 fw-medium">
                <!-- Zahtev za otkazivanje posla uspešno poslat. -->
                {{ succToastMsg }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


<div class="container-fluid h-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center" style="z-index: 3;"
        *ngIf="cancelJobMode || addCommentMode">
    
    <div class="h-100 w-100 position-absolute top-0 start-0 bg-gray-plt-clr9" style="opacity: 0.8;"></div>
    
    <!-- cancel job dialog -->
    <div class="container position-relative" style="z-index: 3;" *ngIf="cancelJobMode">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 bg-gray-plt-clr1 rounded p-3 position-relative">
                <mat-icon class="position-absolute top-0 end-0 mt-3 me-2 me-sm-4 fs-2 cursor-pointer"  (click)="hideCancelDialog()">
                    cancel
                </mat-icon>

                <h1 class="text-center fw-medium mb-4 fs-2">Zahtev za otkazivanje posla</h1>

                <div class="row justify-content-center align-items-center p-2 gy-2 mt-3">

                    <div class="col-lg-10 fs-5 fw-medium">
                        Razlog otkazivanja:
                    </div>
                    
                    <div class="col-lg-10 d-flex justify-content-center align-items-center">
                        <textarea class="form-control" [ngClass]="{'is-invalid': cancelMsgErr}" name="cancelMsg" [(ngModel)]="cancelMsg" id="cancelMsg" cols="30" rows="5" placeholder="Ovde napišite razlog otkazivanja..."></textarea> 
                    </div>

                    <div class="col-lg-10 d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-plt1-clr9 px-5 py-2 fs-6 fw-medium text-white" (click)="cancelJob()">
                            Pošaljite zahtev
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- add comment job dialog -->
    <div class="container position-relative" style="z-index: 3;" *ngIf="addCommentMode">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 bg-gray-plt-clr1 rounded p-3 position-relative">
                <mat-icon class="position-absolute top-0 end-0 mt-3 me-2 me-sm-4 fs-2 cursor-pointer"  (click)="hideAddCommentDialog()">
                    cancel
                </mat-icon>

                <h1 class="text-center fw-medium mb-4 fs-2">Ostavite ocenu i komentar</h1>

                <div class="row justify-content-center align-items-center p-2 gy-2 mt-3">

                    <div class="col-lg-12 fs-5 fw-medium">
                        Komentar:
                    </div>
                    
                    <div class="col-lg-12 d-flex justify-content-center align-items-center mb-3">
                        <textarea class="form-control" name="commentTxt" [(ngModel)]="commentTxt" id="commentTxt" cols="30" rows="5" placeholder="Ovde napišite Vaš komentar..."></textarea> 
                    </div>

                    
                    <div class="col-lg-1 fs-5 fw-medium">
                        Ocena:
                    </div>

                    <div class="col-1 text-plt1-clr5 me-3 me-sm-0" *ngFor="let star of allGrades(); let i = index">
                        <mat-icon style="font-size: 50px;" class="pointer" (click)="setGrade(i)" *ngIf="grade > i">
                             star 
                        </mat-icon>
                        <mat-icon style="font-size: 50px;" class="pointer" (click)="setGrade(i)" *ngIf="grade <= i">
                            star_border
                        </mat-icon>
                    </div>
                   
                    <div class="col-6"></div>

                    <div class="col-lg-10 d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-plt1-clr9 px-5 py-2 fs-6 fw-medium text-white"
                                (click)="addComment()">
                            Potvrdite
                        </button>
                    </div>

                    <ul style="color: red;">
                        <li *ngFor="let msg of commentGradeErrMsgs"> {{ msg }} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<h1 class="fs-1 fw-medium text-center mt-5"> Detalji posla </h1>

<div class="container-fluid my-5  ">
    <div class="row gy-3 justify-content-center align-items-center">
        <div class="col-lg-8 shadow rounded-5">

            <div class="row gy-4 justify-content-center align-items-center p-3">
                <div class="col-6 text-lg-end text-start fs-3 fw-medium">
                    Tip objekta:
                </div>

                <div class="col-6 d-flex justify-content-start align-items-center fs-3 higher-line">
                    {{ job?.objectType }}
                </div>


                <div class="col-6 text-lg-end text-start fs-3 fw-medium">
                    Adresa objekta:
                </div>

                <div class="col-6 d-flex justify-content-start align-items-center fs-3 higher-line">
                    {{ job?.objectAddress }}
                </div>


                <div class="col-6 text-lg-end text-start fs-3 fw-medium">
                    Naziv agencije:
                </div>

                <div class="col-6 d-flex justify-content-start align-items-center fs-3 higher-line">
                    {{ job?.agencyName }}
                </div>


                <div class="col-6 text-lg-end text-start fs-3 fw-medium">
                    Datum početka radova:
                </div>

                <div class="col-6 d-flex justify-content-start align-items-center fs-3 higher-line">
                    {{ getFormattedStartDate() }}
                </div>


                <div class="col-6 text-lg-end text-start fs-3 fw-medium">
                    Datum kraja radova:
                </div>

                <div class="col-6 d-flex justify-content-start align-items-center fs-3 higher-line">
                    {{ getFormattedEndDate() }}
                </div>


                <div class="col-6 text-lg-end text-start fs-3 fw-medium">
                    Ponuda agencije:
                </div>

                <div class="col-6 d-flex justify-content-start align-items-center fs-3 higher-line">
                    {{ job?.agencyOffer }}&nbsp;din.
                </div>


                <div class="col-6 text-lg-end text-start fs-3 fw-medium">
                    Status posla:
                </div>

                <div class="col-6 d-flex justify-content-start align-items-center fs-3 higher-line">
                    {{ getFormattedJobState() }}
                </div>

            </div>

        </div>


        <!-- fields for active jobs -->
        <div class="col-12" *ngIf="isJobActive()">
            <app-apartment-sketch [updateProgressModeIn]="false" [showProgressIn]="true" [editModeIn]="false" [apartmentSkecthIn]="apartmentInCanvas">
            </app-apartment-sketch>
        </div> 

        <div class="col-12 d-flex justify-content-center" *ngIf="isJobActive() && !job.cancelRequested && !areAllRoomsFinished() && !isAdminPage">
            <button type="button" class="btn btn-plt1-clr1 px-5 py-3 fs-5 fw-medium" (click)="showCancelDialog()">
                Zatražite otkazivanje posla
            </button>
        </div>

        <div class="col-12 d-flex justify-content-center" *ngIf="isJobActive() && areAllRoomsFinished() && !isAdminPage">
            <button type="button" class="btn btn-plt1-clr6 px-5 py-3 fs-5 fw-medium" (click)="payAgency()">
                Plaćanje
            </button>
        </div>


        <!-- fields for finished jobs -->
        <div class="col-12 d-flex justify-content-center" *ngIf="isJobFinished() && !isAdminPage">
            <button type="button" class="btn btn-plt1-clr6 px-5 py-3 fs-5 fw-medium" *ngIf="!isCommentPublished()"
                    (click)="showAddCommentDialog()">
                Ostavite komentar
            </button>

            <button type="button" class="btn btn-plt1-clr6 px-5 py-3 fs-5 fw-medium" *ngIf="isCommentPublished()"
                    (click)="showAddCommentDialog()">
                Ažurirajte komentar
            </button>
        </div>


        <!-- fields for accepted job requests -->
        <div class="col-xl-12"></div>
        <div class="col-xl-3 d-flex justify-content-center" *ngIf="isJobAccepted() && !isAdminPage" (click)="acceptAgencyOffer()">
            <button type="button" class="btn btn-plt1-clr6 px-5 py-3 fs-5 fw-medium">
                Prihvatite ponudu agencije
            </button>
        </div>

        <div class="col-xl-3 d-flex justify-content-center" *ngIf="isJobAccepted() && !isAdminPage" (click)="rejectAgencyOffer()">
            <button type="button" class="btn btn-plt1-clr1 px-5 py-3 fs-5 fw-medium">
                Odbijte ponudu agencije
            </button>
        </div>



        <!-- ADMIN fields for accepting CANCEL job requests -->
        <div class="col-xl-12"></div>
        <div class="col-xl-5 d-flex justify-content-center" *ngIf="!isJobCanceled() && job.cancelRequested && isAdminPage" (click)="acceptJobCancelReq()">
            <button type="button" class="btn btn-plt1-clr6 px-5 py-3 fs-5 fw-medium">
                Prihvatite zahtev za otkazivanje
            </button>
        </div>

        <div class="col-xl-5 d-flex justify-content-center" *ngIf="!isJobCanceled() && job.cancelRequested && isAdminPage" (click)="rejectJobCancelReq()">
            <button type="button" class="btn btn-plt1-clr1 px-5 py-3 fs-5 fw-medium">
                Odbijte zahtev za otkazivanje
            </button>
        </div>

    </div>
</div>

