
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center px-3 px-md-0">
        <div class="col-lg-5 shadow px-2 px-md-5 pb-3 pt-3 text-center">
            <h1 class="fs-2 mb-4">Prijava</h1>

            <form class="d-flex align-items-center flex-column">

                <div class="input-group">
                    <span class="input-group-text bg-plt1-clr5" id="user-addon"><mat-icon>person</mat-icon></span>
                   
                    <div class="form-floating">
                        <input type="text" name="username" [(ngModel)]="username" [ngClass]="{'is-invalid': usernameErr}" class="form-control" id="username" placeholder="Korisničko ime" aria-label="Username" aria-describedby="user-addon" (click)="usernameInputClicked()">
                        <label for="username">Korisničko ime</label>
                        <div class="invalid-tooltip">
                            * Unesite ispravno korisničko ime
                        </div>                      
                    </div>
                </div>


                <div class="input-group mb-2 mt-3" [ngClass]="{'mt-5': usernameErr}">
                    <span class="input-group-text bg-plt1-clr6" id="pass-addon"><mat-icon>lock</mat-icon></span>

                    <div class="form-floating position-relative">
                        <input *ngIf="isPassHidder" type="password" name="pass" [(ngModel)]="password" [ngClass]="{'is-invalid': passwordErr}" class="form-control" id="password" placeholder="Lozinka" aria-label="Password" aria-describedby="pass-addon" (click)="passwordInputClicked()">
                        <input *ngIf="!isPassHidder" type="text" name="pass" [(ngModel)]="password" [ngClass]="{'is-invalid': passwordErr}" class="form-control" id="password" placeholder="Lozinka" aria-label="Password" aria-describedby="pass-addon" (click)="passwordInputClicked()">

                        <label for="password">Lozinka</label>

                        <mat-icon *ngIf="isPassHidder" class="position-absolute cursor-pointer" style="bottom: 17px; right: 30px;" (click)="tooglePassVisibility()">
                            visibility_off
                        </mat-icon>
                        <mat-icon *ngIf="!isPassHidder" class="position-absolute cursor-pointer" style="bottom: 17px; right: 30px;" (click)="tooglePassVisibility()">
                            visibility_on
                        </mat-icon>

                        <div class="invalid-tooltip">
                            * Unesite ispravnu lozinku
                        </div>   

                    </div>
                </div>

                <div class="position-relative full-width mb-4">
                    <a class="position-absolute end-0 me-1" href="#">Zaboravljena lozinka?</a>
                </div>

                <div class="full-width errorText text-start">
                    <ul>
                        <li *ngFor="let msg of errMessages">{{ msg }}</li>
                    </ul>
                </div>

                <button type="button" class="btn btn-plt1-clr9 fs-5 my-2 full-width" (click)="login()">Prijavite se</button>
                
                <div class="mt-2">
                    <span>Nemate nalog? </span><a class="text-plt1-clr2 fw-medium" href="#">Registrujte se</a>
                </div>

                <div class="mt-3 full-width bg-gray-plt-clr3 rounded" style="height: 5px;"></div>
                <a class="btn btn-outline-plt1-clr1 fs-6 mt-3" routerLink="guestPage">Nastavite kao gost</a>

            </form>

        </div>
    </div>
</div>