<app-navbar [activeNav]="'guest'" [activePage]="0"></app-navbar>

<div class="container-fluid mt-5">
    <div class="row px-3 gy-4">
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
        <div class="col-lg-2 col-6">
            <app-agency-search-card></app-agency-search-card>
        </div>
    </div>
</div>
