<app-navbar [activeNav]="'guest'" *ngIf="isAnonymous()"></app-navbar>
<app-navbar [activeNav]="'client'" *ngIf="!isAnonymous()"></app-navbar>

<div class="toast-container position-fixed end-0 bottom-0 p-3">
    <div id="searchErr" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex bg-plt1-clr1 rounded">
            <div class="toast-body fs-6 fw-medium">
                Došlo je do greške prilikom pretrage. Pokušajte ponovo.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="container mt-5 bg-gray-plt-clr rounded shadow-sm" style="background-color: #ffe44a;">
    <div class="row justify-content-center align-items-center py-4 gy-3">
        <div class="col-12 fs-2 fw-medium text-center">Pretraga</div>

        <div class="col-lg-9 my-3 d-flex justify-content-center">
            <div class="w-50 bg-gray-plt-clr8 rounded" style="height: 5px;"></div>
        </div>

        <div class="col-lg-4 d-flex justify-content-center">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rbSearchParam" [(ngModel)]="searchParam" value="name" id="rbName" role="button">
                <label class="form-check-label fs-4" for="rbName" role="button">
                    Po nazivu
                </label>
            </div>
        </div>

        <div class="col-lg-4 d-flex justify-content-center">
            <div class="form-check pe-lg-3">
                <input class="form-check-input" type="radio" name="rbSearchParam" [(ngModel)]="searchParam" value="address" id="rbAddress" role="button">
                <label class="form-check-label fs-4" for="rbAddress" role="button">
                    Po adresi
                </label>
            </div>
        </div>

        <div class="col-lg-4 d-flex justify-content-center">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rbSearchParam" [(ngModel)]="searchParam" value="both" id="rbBoth" role="button">
                <label class="form-check-label fs-4" for="rbBoth" role="button">
                    Po oba parametra
                </label>
            </div>
        </div>

        <div class="col-lg-6 d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Tekst za pretragu" aria-label="Search">
            <button class="btn btn-success" type="submit" (click)="search()">Pretraži</button>
        </div>
    </div>
</div>



<div class="container-fluid my-5 px-4">
    <div class="row gy-4 justify-content-center">
        <div class="col-lg-3">
            <div class="form-floating">
                <select class="form-select" name="sortParam" [(ngModel)]="sortParam" id="sortParam">
                  <option value="name">Nazivu</option>
                  <option value="address">Adresi</option>
                </select>
                <label for="floatingSelect">Sortiraj po</label>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-floating">
                <select class="form-select" name="sortDir" [(ngModel)]="sortDir" id="sortDir">
                  <option value="1">Neopadajuće</option>
                  <option value="-1">Nerastuće</option>
                </select>
                <label for="floatingSelect">Sortiraj</label>
              </div>
        </div>
        <div class="col-lg-2 py-2">
            <button class="btn btn-outline-plt1-clr2 w-100 fs-5 fw-medium" type="submit" (click)="sort()">Sortiraj</button>
        </div>
        <div class="col-lg-4 d-none d-lg-block"></div>

        <!-- cards -->
        <div class="col-lg-2 col-10" *ngFor="let agency of agencySearchResults">
            <app-agency-search-card [agency]="agency"></app-agency-search-card>
        </div>

    </div>
</div>
