<app-navbar [activeNav]="'guest'" [activePage]="0"></app-navbar>

<div class="toast-container position-fixed end-0 bottom-0 p-3">
    <div id="searchErr" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex bg-plt1-clr1 rounded">
            <div class="toast-body fs-6 fw-medium">
                Došlo je do greške prilikom pretrage. Pokušajte ponovo.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center py-4">
        <div class="col-10 fs-3 fw-medium text-center">Pretraga</div>

        <div class="col-lg-7 d-flex justify-content-around mt-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rbSearchParam" [(ngModel)]="searchParam" value="name" id="rbName" role="button">
                <label class="form-check-label fs-5" for="rbClient" role="button">
                    Po nazivu
                </label>
            </div>
            <div class="form-check ps-5 ms-4">
                <input class="form-check-input" type="radio" name="rbSearchParam" [(ngModel)]="searchParam" value="address" id="rbAddress" role="button">
                <label class="form-check-label fs-5" for="rbAgency" role="button">
                    Po adresi
                </label>
            </div>
            <div class="form-check ps-5 ms-4">
                <input class="form-check-input" type="radio" name="rbSearchParam" [(ngModel)]="searchParam" value="both" id="rbBoth" role="button">
                <label class="form-check-label fs-5" for="rbAgency" role="button">
                    Po oba parametra
                </label>
            </div>
        </div>

        <div class="col-lg-6 d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Tekst za pretragu" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" (click)="search()">Pretraži</button>
        </div>
    </div>
</div>



<div class="container-fluid my-5 px-4">
    <div class="row gy-4">
        <div class="col-3">
            <div class="form-floating">
                <select class="form-select" name="sortParam" [(ngModel)]="sortParam" id="sortParam">
                  <option value="name">Nazivu</option>
                  <option value="address">Adresi</option>
                </select>
                <label for="floatingSelect">Sortiraj po</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <select class="form-select" name="sortDir" [(ngModel)]="sortDir" id="sortDir">
                  <option value="1">Neopadajuće</option>
                  <option value="-1">Nerastuće</option>
                </select>
                <label for="floatingSelect">Sortiraj</label>
              </div>
        </div>
        <div class="col-2 py-2">
            <button class="btn btn-outline-plt1-clr2 w-100 fs-5 fw-medium" type="submit" (click)="sort()">Sortiraj</button>
        </div>
        <div class="col-4"></div>

        <div class="col-lg-2 col-6" *ngFor="let agency of agencySearchResults">
            <app-agency-search-card [agency]="agency"></app-agency-search-card>
        </div>
    </div>
</div>
