.full-width {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.errorText {
    color: red;
}

#profileImg {
    width: 85px; 
    height: 85px; 
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}